Repository EdV4H/usketch: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, check-filenames

biome-check:
  run: pnpm biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

check-filenames:
  run: npm run check:filenames

🐛 fix: Copilot review 対応 (drop-target が descendants を除外するよう修正)
  packages/usketch-tool-helpers/src/__tests__/drag.test.ts
  packages/usketch-tool-helpers/src/drag.ts
  packages/usketch-tool-helpers/src/index.ts
  plugins/usketch-plugin-tool-select/src/plugin.tsx
Due: biome-check, check-filenames

🐛 fix: Copilot review round 2 対応 (changeset 文言 + docs サンプル修正)
  .changeset/tool-helpers-extraction.md
  apps/docs/src/content/docs-ja/guides/tool-plugin.mdx
  apps/docs/src/content/docs/guides/tool-plugin.mdx
Due: none

✨ feat: Selection Foreground 交換 API を追加 (#577)
  .changeset/selection-foreground-api.md
  apps/docs/src/content/docs-ja/concepts/layer-system.mdx
  apps/docs/src/content/docs-ja/guides/selection-foreground.mdx
  apps/docs/src/content/docs/concepts/layer-system.mdx
  apps/docs/src/content/docs/guides/selection-foreground.mdx
  packages/canvas-engine/src/components/canvas.tsx
  packages/core/src/__tests__/create-app-selection-foreground.test.ts
  packages/core/src/__tests__/selection-foreground-registry.test.ts
  packages/core/src/create-app.ts
  packages/core/src/index.ts
  packages/core/src/selection-foreground-registry.ts
  packages/shared/src/index.ts
  packages/shared/src/types/plugin.ts
  plugins/usketch-plugin-tool-select/src/plugin.tsx
Due: biome-check, check-filenames

🐛 fix: canvas unmount 時に __selection-foreground layer を片付け (Copilot review)
  packages/canvas-engine/src/components/canvas.tsx
Due: biome-check, check-filenames

⚡️ perf: __selection-foreground layer の不要な unregister / emit を回避 (Copilot review)
  packages/canvas-engine/src/components/canvas.tsx
Due: biome-check, check-filenames

🐛 fix: Copilot review round 3 対応
  apps/docs/src/content/docs-ja/guides/selection-foreground.mdx
  apps/docs/src/content/docs/guides/selection-foreground.mdx
  packages/canvas-engine/src/components/canvas.tsx
Due: biome-check, check-filenames

🐛 fix: 初回 mount で layers:changed の missed emission を回避 (Copilot review round 4)
  packages/canvas-engine/src/components/canvas.tsx
Due: biome-check, check-filenames

🐛 fix: Copilot review round 5 対応
  apps/docs/src/content/docs-ja/concepts/layer-system.mdx
  packages/canvas-engine/src/components/canvas.tsx
Due: biome-check, check-filenames

🐛 fix: en docs cross-link を /docs/guides/... に修正 (Copilot review round 6)
  apps/docs/src/content/docs/concepts/layer-system.mdx
Due: none

✨ feat: External Content Handler プラグイン API (#578)
  .changeset/external-content-api.md
  apps/docs/src/content/docs-ja/guides/external-content.mdx
  apps/docs/src/content/docs/guides/external-content.mdx
  packages/canvas-engine/src/__tests__/external-content-dispatch.test.ts
  packages/canvas-engine/src/components/canvas.tsx
  packages/canvas-engine/src/external-content-dispatch.ts
  packages/canvas-engine/src/index.ts
  packages/core/src/__tests__/create-app-external-content.test.ts
  packages/core/src/__tests__/external-content-registry.test.ts
  packages/core/src/create-app.ts
  packages/core/src/external-content-registry.ts
  packages/core/src/index.ts
  packages/shared/src/index.ts
  packages/shared/src/types/plugin.ts
  plugins/usketch-plugin-ai-image/src/plugin.ts
  plugins/usketch-plugin-shape-image/src/__tests__/external-content-handler.test.ts
  plugins/usketch-plugin-shape-image/src/external-content-handler.ts
  plugins/usketch-plugin-shape-image/src/image-utils.ts
  plugins/usketch-plugin-shape-image/src/plugin.tsx
Due: biome-check, check-filenames

🐛 fix: Copilot review round 1 対応
  packages/canvas-engine/src/components/canvas.tsx
  packages/canvas-engine/src/external-content-dispatch.ts
  packages/canvas-engine/src/index.ts
  plugins/usketch-plugin-shape-image/src/__tests__/external-content-handler.test.ts
  plugins/usketch-plugin-shape-image/src/external-content-handler.ts
Due: biome-check, check-filenames

🐛 fix: Copilot review round 2 対応
  plugins/usketch-plugin-shape-image/src/image-utils.ts
Due: biome-check, check-filenames

🐛 fix: Copilot review round 3 対応
  packages/canvas-engine/src/components/canvas.tsx
  plugins/usketch-plugin-shape-image/src/image-utils.ts
Due: biome-check, check-filenames

🐛 fix: Copilot review round 4 対応
  packages/canvas-engine/src/__tests__/external-content-dispatch.test.ts
Due: biome-check, check-filenames

📝 docs: tldraw → uSketch 移行ガイドを追加 (#579)
  apps/docs/src/content/docs-ja/guides/migrate-from-tldraw.mdx
  apps/docs/src/content/docs-ja/guides/shape-plugin.mdx
  apps/docs/src/content/docs-ja/guides/tool-plugin.mdx
  apps/docs/src/content/docs/guides/migrate-from-tldraw.mdx
  apps/docs/src/content/docs/guides/shape-plugin.mdx
  apps/docs/src/content/docs/guides/tool-plugin.mdx
Due: none

🐛 fix: Copilot review round 1 対応 (#597)
  apps/docs/src/content/docs-ja/guides/migrate-from-tldraw.mdx
  apps/docs/src/content/docs/guides/migrate-from-tldraw.mdx
Due: none

🐛 fix: Copilot review round 2 対応 (#597)
  apps/docs/src/content/docs-ja/guides/migrate-from-tldraw.mdx
  apps/docs/src/content/docs/guides/migrate-from-tldraw.mdx
Due: none

🐛 fix: Copilot review round 3 対応 (#597)
  apps/docs/src/content/docs-ja/guides/migrate-from-tldraw.mdx
  apps/docs/src/content/docs/guides/migrate-from-tldraw.mdx
Due: none

✨ feat(plugins): add usketch-plugin-shape-openui (experimental)
  plugins/usketch-plugin-shape-openui/package.json
  plugins/usketch-plugin-shape-openui/src/__tests__/plugin.test.tsx
  plugins/usketch-plugin-shape-openui/src/__tests__/sanitize.test.ts
  plugins/usketch-plugin-shape-openui/src/index.ts
  plugins/usketch-plugin-shape-openui/src/library-registry.ts
  plugins/usketch-plugin-shape-openui/src/plugin.tsx
  plugins/usketch-plugin-shape-openui/src/sanitize.ts
  plugins/usketch-plugin-shape-openui/src/types.ts
  plugins/usketch-plugin-shape-openui/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-check, check-filenames

✨ feat(plugins): add usketch-plugin-tool-openui (experimental)
  .changeset/plugin-shape-openui.md
  apps/docs/src/content/docs-ja/guides/openui-generative-ui.mdx
  apps/docs/src/content/docs/guides/openui-generative-ui.mdx
  apps/web/package.json
  apps/web/src/app.tsx
  plugins/usketch-plugin-tool-openui/package.json
  plugins/usketch-plugin-tool-openui/src/__tests__/providers/openai-compatible.test.ts
  plugins/usketch-plugin-tool-openui/src/default-library.tsx
  plugins/usketch-plugin-tool-openui/src/index.ts
  plugins/usketch-plugin-tool-openui/src/plugin.tsx
  plugins/usketch-plugin-tool-openui/src/providers/openai-compatible.ts
  plugins/usketch-plugin-tool-openui/src/providers/openai.ts
  plugins/usketch-plugin-tool-openui/src/providers/types.ts
  plugins/usketch-plugin-tool-openui/src/system-prompt.ts
  plugins/usketch-plugin-tool-openui/src/types.ts
  plugins/usketch-plugin-tool-openui/tsconfig.json
  pnpm-lock.yaml
Due: biome-check, check-filenames

🐛 fix: Copilot review round 1 (#598)
  .changeset/plugin-shape-openui.md
  apps/docs/src/content/docs-ja/guides/openui-generative-ui.mdx
  apps/docs/src/content/docs/guides/openui-generative-ui.mdx
  plugins/usketch-plugin-shape-openui/package.json
  plugins/usketch-plugin-shape-openui/src/plugin.tsx
  plugins/usketch-plugin-tool-openui/package.json
  plugins/usketch-plugin-tool-openui/src/__tests__/providers/openai-compatible.test.ts
  plugins/usketch-plugin-tool-openui/src/plugin.tsx
Due: biome-check, check-filenames

🔧 chore: refresh pnpm-lock.yaml after zod peerDep change
  pnpm-lock.yaml
Due: none

🐛 fix: Copilot review round 2 (#598)
  plugins/usketch-plugin-tool-openui/src/__tests__/providers/openai-compatible.test.ts
  plugins/usketch-plugin-tool-openui/src/default-library.tsx
  plugins/usketch-plugin-tool-openui/src/plugin.tsx
  plugins/usketch-plugin-tool-openui/src/providers/openai-compatible.ts
Due: biome-check, check-filenames

🐛 fix: Copilot review round 3 (#598)
  plugins/usketch-plugin-shape-openui/package.json
  plugins/usketch-plugin-shape-openui/src/plugin.tsx
  plugins/usketch-plugin-tool-openui/package.json
  plugins/usketch-plugin-tool-openui/src/plugin.tsx
  pnpm-lock.yaml
Due: biome-check, check-filenames

🐛 fix: Copilot review round 4 (#598)
  apps/docs/src/content/docs-ja/guides/openui-generative-ui.mdx
  apps/docs/src/content/docs/guides/openui-generative-ui.mdx
  plugins/usketch-plugin-tool-openui/src/plugin.tsx
  plugins/usketch-plugin-tool-openui/src/providers/types.ts
  plugins/usketch-plugin-tool-openui/src/types.ts
Due: biome-check, check-filenames

🐛 fix: Copilot review round 5 (#598)
  apps/docs/src/content/docs-ja/guides/openui-generative-ui.mdx
  apps/docs/src/content/docs/guides/openui-generative-ui.mdx
Due: none

🐛 fix: Copilot review round 6 (#598)
  plugins/usketch-plugin-tool-openui/src/__tests__/providers/openai-compatible.test.ts
  plugins/usketch-plugin-tool-openui/src/providers/openai-compatible.ts
Due: biome-check, check-filenames

✨ feat(openui): server-proxy provider で本番デプロイ対応
  .changeset/openui-server-proxy.md
  apps/docs/src/content/docs-ja/guides/openui-generative-ui.mdx
  apps/docs/src/content/docs/guides/openui-generative-ui.mdx
  apps/web/src/app.tsx
  plugins/usketch-plugin-server-ai/src/__tests__/openui-route.test.ts
  plugins/usketch-plugin-server-ai/src/index.ts
  plugins/usketch-plugin-server-ai/src/openui-route.ts
  plugins/usketch-plugin-server-ai/src/plugin.ts
  plugins/usketch-plugin-tool-openui/src/__tests__/providers/openai-compatible.test.ts
  plugins/usketch-plugin-tool-openui/src/__tests__/providers/server-proxy.test.ts
  plugins/usketch-plugin-tool-openui/src/index.ts
  plugins/usketch-plugin-tool-openui/src/providers/openai-compatible.ts
  plugins/usketch-plugin-tool-openui/src/providers/server-proxy.ts
  plugins/usketch-plugin-tool-openui/src/providers/types.ts
Due: biome-check, check-filenames

✨ feat(core): add pause/resume API to EventBus
  packages/core/src/__tests__/event-bus.test.ts
  packages/core/src/event-bus.ts
  packages/shared/src/types/plugin.ts
Due: biome-check, check-filenames

🐛 fix(debug-hud): stop FPS drop during shape drag (#600)
  plugins/usketch-plugin-debug-hud/src/__tests__/event-logger.test.ts
  plugins/usketch-plugin-debug-hud/src/debug-hud.tsx
  plugins/usketch-plugin-debug-hud/src/event-logger.ts
  plugins/usketch-plugin-debug-hud/src/plugin.tsx
  plugins/usketch-plugin-debug-hud/src/visibility-store.ts
Due: biome-check, check-filenames

🔧 chore: add changeset for debug-hud FPS drop fix
  .changeset/debug-hud-fps-drop.md
Due: none

🐛 fix: Copilot review round 1 (#601)
  packages/shared/src/types/plugin.ts
  plugins/usketch-plugin-debug-hud/src/__tests__/event-logger.test.ts
  plugins/usketch-plugin-debug-hud/src/event-logger.ts
Due: biome-check, check-filenames

🐛 fix: Copilot review round 2 (#601)
  packages/core/src/__tests__/event-bus.test.ts
  packages/core/src/event-bus.ts
  packages/shared/src/types/plugin.ts
Due: biome-check, check-filenames

✨ feat(sync-ywebsocket): add shouldSync callback (#606)
  .changeset/sync-ywebsocket-should-sync.md
  plugins/usketch-plugin-sync-ywebsocket/src/__tests__/yws-sync.test.ts
  plugins/usketch-plugin-sync-ywebsocket/src/types.ts
  plugins/usketch-plugin-sync-ywebsocket/src/yws-sync.ts
Due: biome-check, check-filenames

🐛 fix: Copilot review round 1 (#607)
  plugins/usketch-plugin-sync-ywebsocket/src/__tests__/yws-sync.test.ts
  plugins/usketch-plugin-sync-ywebsocket/src/yws-sync.ts
Due: biome-check, check-filenames

🐛 fix: Copilot review round 2 (#607)
  plugins/usketch-plugin-sync-ywebsocket/src/__tests__/yws-sync.test.ts
  plugins/usketch-plugin-sync-ywebsocket/src/yws-sync.ts
Due: biome-check, check-filenames

📝 docs: Copilot review round 3 (#607)
  plugins/usketch-plugin-sync-ywebsocket/src/types.ts
Due: biome-check, check-filenames

📝 docs(changeset): Copilot review round 4 (#607)
  .changeset/sync-ywebsocket-should-sync.md
Due: none

🔧 chore(biome): include examples/01-minimal and examples/02-multiple-shapes-tools
  biome.json
Due: biome-check

🐛 fix: Copilot review round 1 (#603)
  examples/01-minimal/src/main.tsx
  examples/02-multiple-shapes-tools/src/main.tsx
Due: biome-check, check-filenames

Path conditions:
  biome-check: any of: *.{js,jsx,ts,tsx,css,json}
  check-filenames: any of: *.{ts,tsx}
