Repository EdV4H/usketch: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, check-filenames

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,jsx,ts,tsx,css,json}"
      run: pnpm biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    check-filenames:
      glob: "*.{ts,tsx}"
      run: npm run check:filenames


# Skip hooks in CI environment
skip_output:
  - meta
  - summary

♻️ refactor(shape-basic): depend on @edv4h/usketch-shape-utils
  plugins/usketch-plugin-shape-basic/package.json
  plugins/usketch-plugin-shape-basic/src/plugin.tsx
  plugins/usketch-plugin-shape-basic/src/shared/bounds.ts
  plugins/usketch-plugin-shape-basic/src/shared/hit-test.ts
  plugins/usketch-plugin-shape-basic/src/shared/resize.ts
Due: biome-check, check-filenames

📝 docs(examples): add @acme/usketch-plugin-shape-basic reference
  .changeset/config.json
  examples/usketch-plugin-acme-shape-basic/README.md
  examples/usketch-plugin-acme-shape-basic/package.json
  examples/usketch-plugin-acme-shape-basic/src/index.ts
  examples/usketch-plugin-acme-shape-basic/src/plugin.tsx
  examples/usketch-plugin-acme-shape-basic/src/shapes/hexagon.tsx
  examples/usketch-plugin-acme-shape-basic/tsconfig.json
Due: biome-check, check-filenames

📝 docs: add Third-Party Plugin Authoring guide and shape-utils reference
  README.md
  apps/docs/astro.config.mjs
  apps/docs/src/content/docs/guides/third-party-plugin.mdx
  apps/docs/src/content/docs/reference/shape-utils.mdx
Due: none

🔖 chore: add changeset for shape-utils 1.0.0 + shape-basic 1.1.0
  .changeset/shape-utils.md
Due: none

🐛 fix(release): pnpm version → pnpm run version
  .github/workflows/release.yml
Due: none

♻️ refactor(docs): Starlight から Astro 5 + 自前レイアウトへ移行（Scaffold）
  apps/docs/.gitignore
  apps/docs/astro.config.mjs
  apps/docs/package.json
  apps/docs/src/components/Footer.astro
  apps/docs/src/components/Header.astro
  apps/docs/src/content.config.ts
  apps/docs/src/layouts/BaseLayout.astro
  apps/docs/src/lib/href.ts
  apps/docs/src/styles/global.css
  apps/docs/src/styles/tokens.css
  apps/docs/tsconfig.json
  pnpm-lock.yaml
Due: biome-check, check-filenames

✨ feat(docs): カスタム 3 ペイン DocsLayout で既存 MDX を描画
  apps/docs/src/components/docs/Chapters.astro
  apps/docs/src/components/docs/PrevNext.astro
  apps/docs/src/components/docs/TOC.astro
  apps/docs/src/components/primitives/Card.astro
  apps/docs/src/components/primitives/CardGrid.astro
  apps/docs/src/content/docs/concepts/command-system.mdx
  apps/docs/src/content/docs/concepts/event-bus.mdx
  apps/docs/src/content/docs/concepts/layer-system.mdx
  apps/docs/src/content/docs/concepts/plugin-architecture.mdx
  apps/docs/src/content/docs/concepts/shape-system.mdx
  apps/docs/src/content/docs/concepts/tool-system.mdx
  apps/docs/src/content/docs/getting-started/dev-setup.mdx
  apps/docs/src/content/docs/getting-started/introduction.mdx
  apps/docs/src/content/docs/getting-started/quick-start.mdx
  apps/docs/src/content/docs/guides/shape-plugin.mdx
  apps/docs/src/content/docs/guides/third-party-plugin.mdx
  apps/docs/src/content/docs/guides/tool-plugin.mdx
  apps/docs/src/content/docs/index.mdx
  apps/docs/src/content/docs/reference/core.mdx
  apps/docs/src/content/docs/reference/shape-utils.mdx
  apps/docs/src/content/docs/reference/shared.mdx
  apps/docs/src/layouts/DocsLayout.astro
  apps/docs/src/pages/404.astro
  apps/docs/src/pages/docs/[...slug].astro
Due: none

✨ feat(docs): Plugin Catalog + Detail を追加（56 プラグインの data import 含む）
  apps/docs/scripts/import-handoff.mjs
  apps/docs/src/components/plugins/CatalogGrid.tsx
  apps/docs/src/components/plugins/PluginGlyph.astro
  apps/docs/src/content/plugins/plugins.json
  apps/docs/src/content/roadmap/roadmap.json
  apps/docs/src/pages/plugins/[id].astro
  apps/docs/src/pages/plugins/index.astro
Due: biome-check, check-filenames

✨ feat(docs): Home ランディングを追加（Hero / FeatureStrip / AINativeBand / PluginsTeaser / FinalCTA）
  apps/docs/src/components/home/AINativeBand.astro
  apps/docs/src/components/home/FeatureStrip.astro
  apps/docs/src/components/home/FinalCTA.astro
  apps/docs/src/components/home/Hero.astro
  apps/docs/src/components/home/PluginsTeaser.astro
  apps/docs/src/pages/index.astro
Due: none

✨ feat(docs): Examples / API / Changelog ページを追加
  apps/docs/src/content/examples/examples.json
  apps/docs/src/content/releases/releases.json
  apps/docs/src/pages/api/index.astro
  apps/docs/src/pages/changelog/index.astro
  apps/docs/src/pages/examples/index.astro
Due: biome-check

✨ feat(docs): Command Palette (⌘K) と Tweaks Panel を追加
  apps/docs/scripts/screenshot.mjs
  apps/docs/src/components/palette/CommandPalette.tsx
  apps/docs/src/components/tweaks/TweaksPanel.tsx
  apps/docs/src/layouts/BaseLayout.astro
  apps/docs/src/styles/global.css
  apps/docs/src/styles/tokens.css
Due: biome-check, check-filenames

🐛 fix(docs): Hero のアニメーションを動作するように修正
  apps/docs/scripts/screenshot.mjs
  apps/docs/src/components/home/Hero.astro
Due: none

🔥 chore(docs): Tweaks パネルを削除
  apps/docs/src/components/palette/CommandPalette.tsx
  apps/docs/src/components/tweaks/TweaksPanel.tsx
  apps/docs/src/layouts/BaseLayout.astro
  apps/docs/src/styles/global.css
Due: biome-check, check-filenames

✨ feat(docs): 日本語切替（EN / Both / JP）を追加
  apps/docs/src/components/Footer.astro
  apps/docs/src/components/Header.astro
  apps/docs/src/components/home/AINativeBand.astro
  apps/docs/src/components/home/FeatureStrip.astro
  apps/docs/src/components/home/FinalCTA.astro
  apps/docs/src/components/home/Hero.astro
  apps/docs/src/components/home/PluginsTeaser.astro
  apps/docs/src/components/plugins/CatalogGrid.tsx
  apps/docs/src/layouts/BaseLayout.astro
  apps/docs/src/pages/api/index.astro
  apps/docs/src/pages/changelog/index.astro
  apps/docs/src/pages/examples/index.astro
  apps/docs/src/pages/plugins/index.astro
  apps/docs/src/styles/global.css
Due: biome-check, check-filenames

✨ feat(docs): 日本語 docs ルート /docs/ja/ を追加（ルーティング基盤）
  apps/docs/src/components/Header.astro
  apps/docs/src/components/docs/Chapters.astro
  apps/docs/src/components/docs/PrevNext.astro
  apps/docs/src/content.config.ts
  apps/docs/src/layouts/BaseLayout.astro
  apps/docs/src/layouts/DocsLayout.astro
  apps/docs/src/pages/docs/ja/[...slug].astro
Due: biome-check, check-filenames

📝 docs(docs-ja): 日本語ドキュメント 15 本を追加
  apps/docs/src/content/docs-ja/concepts/command-system.mdx
  apps/docs/src/content/docs-ja/concepts/event-bus.mdx
  apps/docs/src/content/docs-ja/concepts/layer-system.mdx
  apps/docs/src/content/docs-ja/concepts/plugin-architecture.mdx
  apps/docs/src/content/docs-ja/concepts/shape-system.mdx
  apps/docs/src/content/docs-ja/concepts/tool-system.mdx
  apps/docs/src/content/docs-ja/getting-started/dev-setup.mdx
  apps/docs/src/content/docs-ja/getting-started/introduction.mdx
  apps/docs/src/content/docs-ja/getting-started/quick-start.mdx
  apps/docs/src/content/docs-ja/guides/shape-plugin.mdx
  apps/docs/src/content/docs-ja/guides/third-party-plugin.mdx
  apps/docs/src/content/docs-ja/guides/tool-plugin.mdx
  apps/docs/src/content/docs-ja/reference/core.mdx
  apps/docs/src/content/docs-ja/reference/shape-utils.mdx
  apps/docs/src/content/docs-ja/reference/shared.mdx
Due: none

🎨 style(docs): React コンポーネントファイル名を kebab-case に統一
  apps/docs/src/components/palette/command-palette.tsx
  apps/docs/src/components/plugins/catalog-grid.tsx
  apps/docs/src/layouts/BaseLayout.astro
  apps/docs/src/pages/plugins/index.astro
Due: biome-check, check-filenames

🔧 chore: biome CI を通すための調整
  apps/docs/astro.config.mjs
  apps/docs/src/styles/global.css
  biome.json
Due: biome-check

♿️ a11y(docs): Copilot 指摘の a11y / SEO 問題を修正
  apps/docs/src/components/Header.astro
  apps/docs/src/layouts/BaseLayout.astro
  apps/docs/src/layouts/DocsLayout.astro
  apps/docs/src/styles/global.css
Due: biome-check

🐛 fix(docs): プラグインパッケージ命名を実リポジトリに合わせて修正
  apps/docs/scripts/import-handoff.mjs
  apps/docs/src/content/plugins/plugins.json
  apps/docs/src/pages/plugins/[id].astro
Due: biome-check

🐛 fix(docs): Card primitive の href なし時の invalid HTML と icon 未反映を修正
  apps/docs/src/components/primitives/Card.astro
Due: none

🔧 chore(docs): @types/react* を devDependencies に移動
  apps/docs/package.json
  pnpm-lock.yaml
Due: biome-check

♿️ a11y(docs): 言語トグルの初期 aria-pressed を lang prop から SSR で決定
  apps/docs/src/components/Header.astro
  apps/docs/src/layouts/BaseLayout.astro
Due: none

🐛 fix(docs): MDX 内部リンクから /usketch/ base path 固定を剥がす
  apps/docs/src/content/docs-ja/concepts/shape-system.mdx
  apps/docs/src/content/docs-ja/concepts/tool-system.mdx
  apps/docs/src/content/docs-ja/getting-started/dev-setup.mdx
  apps/docs/src/content/docs-ja/getting-started/introduction.mdx
  apps/docs/src/content/docs-ja/getting-started/quick-start.mdx
  apps/docs/src/content/docs/concepts/shape-system.mdx
  apps/docs/src/content/docs/concepts/tool-system.mdx
  apps/docs/src/content/docs/getting-started/dev-setup.mdx
  apps/docs/src/content/docs/getting-started/introduction.mdx
  apps/docs/src/content/docs/getting-started/quick-start.mdx
Due: none

🐛 fix(docs): JP ページで nav とパレットが EN 側に連れ戻す問題を修正
  apps/docs/src/components/Header.astro
  apps/docs/src/layouts/BaseLayout.astro
Due: none

✨ feat(docs): Plugin Catalog で ?cat= クエリからフィルタを初期化
  apps/docs/src/components/plugins/catalog-grid.tsx
Due: biome-check, check-filenames

♻️ refactor(docs): Copilot フォローアップ指摘 2 件に対応
  apps/docs/src/components/Header.astro
  apps/docs/src/layouts/BaseLayout.astro
Due: none

✨ feat(plugin-sync-ywebsocket): y-websocket 経由で uSketch を realtime 同期
  plugins/usketch-plugin-sync-ywebsocket/README.md
  plugins/usketch-plugin-sync-ywebsocket/package.json
  plugins/usketch-plugin-sync-ywebsocket/src/index.ts
  plugins/usketch-plugin-sync-ywebsocket/src/plugin.ts
  plugins/usketch-plugin-sync-ywebsocket/src/sync-status-tracker.ts
  plugins/usketch-plugin-sync-ywebsocket/src/types.ts
  plugins/usketch-plugin-sync-ywebsocket/src/yws-sync.ts
  plugins/usketch-plugin-sync-ywebsocket/tsconfig.json
  pnpm-lock.yaml
Due: biome-check, check-filenames

✅ test(plugin-sync-ywebsocket): store ↔ Y.Doc 双方向同期のユニットテスト
  plugins/usketch-plugin-sync-ywebsocket/src/__tests__/test-store.ts
  plugins/usketch-plugin-sync-ywebsocket/src/__tests__/yws-sync.test.ts
Due: biome-check, check-filenames

📝 docs(catalog): sync-ywebsocket プラグインを server カテゴリに追加
  apps/docs/src/content/plugins/plugins.json
Due: biome-check

🔧 chore(changeset): plugin-sync-ywebsocket の初回リリース
  .changeset/plugin-sync-ywebsocket.md
Due: none

♻️ refactor(plugin-sync-ywebsocket): Copilot 指摘 7 件に対応
  plugins/usketch-plugin-sync-ywebsocket/README.md
  plugins/usketch-plugin-sync-ywebsocket/src/__tests__/yws-sync.test.ts
  plugins/usketch-plugin-sync-ywebsocket/src/plugin.ts
  plugins/usketch-plugin-sync-ywebsocket/src/types.ts
  plugins/usketch-plugin-sync-ywebsocket/src/yws-sync.ts
Due: biome-check, check-filenames

♻️ refactor(plugin-sync-ywebsocket): Copilot 再レビュー指摘 5 件に対応
  plugins/usketch-plugin-sync-ywebsocket/README.md
  plugins/usketch-plugin-sync-ywebsocket/src/__tests__/test-store.ts
  plugins/usketch-plugin-sync-ywebsocket/src/__tests__/yws-sync.test.ts
  plugins/usketch-plugin-sync-ywebsocket/src/types.ts
  plugins/usketch-plugin-sync-ywebsocket/src/yws-sync.ts
Due: biome-check, check-filenames

♻️ refactor(plugin-sync-ywebsocket): Copilot 再々レビュー指摘 6 件に対応
  plugins/usketch-plugin-sync-ywebsocket/README.md
  plugins/usketch-plugin-sync-ywebsocket/src/__tests__/test-store.ts
  plugins/usketch-plugin-sync-ywebsocket/src/__tests__/yws-sync.test.ts
  plugins/usketch-plugin-sync-ywebsocket/src/plugin.ts
  plugins/usketch-plugin-sync-ywebsocket/src/yws-sync.ts
Due: biome-check, check-filenames

♻️ refactor(shared): diffShape ユーティリティを抽出して tool-select の Record キャストを排除
  .changeset/shape-diff-utility.md
  packages/shared/src/__tests__/shape-diff.test.ts
  packages/shared/src/index.ts
  packages/shared/src/utils/shape-diff.ts
  plugins/usketch-plugin-tool-select/src/plugin.tsx
Due: biome-check, check-filenames

♻️ refactor(shape-diff): Copilot 指摘 3 件に対応
  packages/shared/src/__tests__/shape-diff.test.ts
  packages/shared/src/utils/shape-diff.ts
Due: biome-check, check-filenames

🔥 chore(store): 未使用の getConnectorsForShape を削除
  .changeset/remove-unused-get-connectors-for-shape.md
  packages/store/src/hierarchy-utils.ts
  packages/store/src/index.ts
Due: biome-check, check-filenames

♻️ refactor(shape-basic): GPU primitive helpers を shape-utils から移動
  .changeset/move-gpu-helpers-to-shape-basic.md
  packages/usketch-shape-utils/src/index.ts
  plugins/usketch-plugin-shape-basic/src/gpu.ts
  plugins/usketch-plugin-shape-basic/src/plugin.tsx
Due: biome-check, check-filenames

♻️ refactor(shape-basic): Copilot 指摘 2 件に対応
  .changeset/move-gpu-helpers-to-shape-basic.md
  plugins/usketch-plugin-shape-basic/src/index.ts
  plugins/usketch-plugin-shape-basic/src/plugin.tsx
Due: biome-check, check-filenames
