Repository EdV4H/usketch: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, check-filenames

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,jsx,ts,tsx,css,json}"
      run: pnpm biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    check-filenames:
      glob: "*.{ts,tsx}"
      run: npm run check:filenames


# Skip hooks in CI environment
skip_output:
  - meta
  - summary

👷 ci: GitHub Actionsでファイル名規則チェックを自動化
  .github/workflows/check-filenames.yml
Due: none

📝 docs: CLAUDE.mdにTypeScript/TSXファイル命名規則を記載
  CLAUDE.md
Due: none

♻️ refactor: 既存ファイルをkebab-case命名規則に統一
  apps/whiteboard/src/app.tsx
  apps/whiteboard/src/components/background-selector.tsx
  apps/whiteboard/src/components/toolbar-react.tsx
  apps/whiteboard/src/main.tsx
  packages/background-presets/src/index.ts
  packages/react-canvas/src/components/background-layer.tsx
  packages/react-canvas/src/components/whiteboard-canvas.tsx
  packages/react-canvas/src/index.ts
  packages/react-canvas/src/types.ts
  packages/react-shapes/src/index.ts
  packages/shape-abstraction/src/__tests__/base-shape-test.ts
  packages/shape-abstraction/src/components/unified-shape-renderer.tsx
  packages/shape-abstraction/src/index.ts
  packages/shape-registry/src/context.tsx
  packages/shape-registry/src/index.ts
  packages/shape-registry/src/shape-registry-test.ts
  packages/tools/src/adapters/tool-manager-adapter.ts
  packages/tools/src/configs/default-tools.ts
  packages/tools/src/index.ts
  packages/tools/src/machines/select-tool.ts
  packages/tools/src/types/state.ts
  scripts/rename-files.js
  scripts/update-imports.js
Due: biome-check, check-filenames

🐛 fix: Biomeのlintエラーを修正
  apps/e2e/tests/drag-selection-indicator-spec.ts
  apps/e2e/tests/freedraw-padding-spec.ts
  apps/whiteboard/src/app.tsx
  packages/shape-registry/src/unified-shape-plugin-adapter.tsx
  scripts/check-filenames.js
  scripts/rename-files.js
  scripts/update-imports.js
Due: biome-check, check-filenames

🐛 fix: 追加のparseInt radixエラーを修正
  apps/e2e/tests/html-shape-interaction-spec.ts
  apps/e2e/tests/multi-selection-spec.ts
Due: biome-check, check-filenames

🐛 fix: 最後のparseInt radixエラーを修正
  apps/e2e/tests/multi-selection-spec.ts
Due: biome-check, check-filenames

🐛 fix: GitHub ActionsのCheck Filename Conventionワークフローを修正
  .github/workflows/check-filenames.yml
Due: none

🐛 fix: ファイル名チェックとTypeScriptエラーを修正
  packages/shape-abstraction/src/components/unified-shape-renderer.tsx
  packages/test-utils/src/__tests__/dom-helpers-test.ts
  packages/test-utils/tsup.config.ts
  packages/test-utils/vitest.config.ts
  packages/tools/src/adapters/tool-manager-compat.ts
  scripts/check-filenames.js
Due: biome-check, check-filenames

🐛 fix: テストファイル名を正しい形式に修正
  apps/e2e/tests/background-switcher.spec.ts
  apps/e2e/tests/debug-freedraw.spec.ts
  apps/e2e/tests/drag-selection-indicator.spec.ts
  apps/e2e/tests/drawing-tool.spec.ts
  apps/e2e/tests/freedraw-complete.spec.ts
  apps/e2e/tests/freedraw-move.spec.ts
  apps/e2e/tests/freedraw-padding.spec.ts
  apps/e2e/tests/freedraw-select-debug.spec.ts
  apps/e2e/tests/freedraw-select.spec.ts
  apps/e2e/tests/html-shape-interaction.spec.ts
  apps/e2e/tests/multi-selection-drag.spec.ts
  apps/e2e/tests/multi-selection.spec.ts
  apps/e2e/tests/simple-draw.spec.ts
  apps/e2e/tests/whiteboard-common.spec.ts
  apps/e2e/tests/whiteboard-vanilla.spec.ts
  packages/e2e-tests/src/tests/whiteboard.spec.ts
  packages/react-canvas/src/__tests__/setup.test.ts
  packages/react-shapes/src/__tests__/setup.test.ts
  packages/shape-abstraction/src/__tests__/base-shape.test.ts
  packages/shape-plugins/src/shape-plugins.test.ts
  packages/shape-registry/src/shape-registry.test.ts
  packages/test-utils/src/__tests__/dom-helpers.test.ts
  scripts/rename-files.js
Due: biome-check, check-filenames

🐛 fix: react-canvasパッケージのインポートパスを修正
  packages/react-canvas/src/backgrounds/presets.ts
  packages/react-canvas/src/components/shape-layer.tsx
  packages/react-canvas/src/components/whiteboard-canvas.tsx
Due: biome-check, check-filenames

🐛 fix: 最後のインポートパスエラーを修正
  apps/whiteboard/src/backgrounds/register-backgrounds.ts
Due: biome-check, check-filenames

🐛 fix: HTMLカスタムシェイプの登録名を統一
  apps/whiteboard/src/custom-shapes/animated-logo.tsx
  apps/whiteboard/src/custom-shapes/chart-hybrid.tsx
  apps/whiteboard/src/custom-shapes/color-picker.tsx
  apps/whiteboard/src/custom-shapes/html-counter.tsx
  apps/whiteboard/src/custom-shapes/video-player.tsx
Due: biome-check, check-filenames

🐛 fix: 背景パターンの移動方向を修正
  packages/background-presets/src/components/dots-background.tsx
  packages/background-presets/src/components/grid-background.tsx
  packages/background-presets/src/components/isometric-background.tsx
  packages/background-presets/src/components/lines-background.tsx
Due: biome-check, check-filenames

🔧 chore: Renovate設定を追加
  renovate.json
Due: biome-check

⬆️ chore: パッケージの依存関係を最新版に更新
  apps/e2e/package.json
  apps/whiteboard/package.json
  package.json
  packages/background-presets/package.json
  packages/e2e-tests/package.json
  packages/react-canvas/package.json
  packages/react-shapes/package.json
  packages/shape-abstraction/package.json
  packages/shape-plugins/package.json
  packages/shape-registry/package.json
  packages/shared-types/package.json
  packages/shared-utils/package.json
  packages/store/package.json
  packages/test-utils/package.json
  packages/tools/package.json
  packages/ui-components/package.json
  packages/vite-config/package.json
  pnpm-lock.yaml
Due: biome-check

🔧 chore: Biomeのスキーマバージョンを2.2.3に更新
  biome.json
Due: biome-check

🐛 fix: React 19対応のための型定義修正
  apps/whiteboard/src/backgrounds/custom-backgrounds.tsx
  apps/whiteboard/src/examples/background-registry-example.tsx
  apps/whiteboard/src/examples/custom-background-example.tsx
  packages/react-shapes/src/ellipse.tsx
  packages/react-shapes/src/freedraw.tsx
  packages/react-shapes/src/rectangle.tsx
Due: biome-check, check-filenames

🔧 chore: exact versioningを有効化
  .npmrc
  apps/e2e/package.json
  apps/whiteboard/package.json
  package.json
  packages/background-presets/package.json
  packages/e2e-tests/package.json
  packages/react-canvas/package.json
  packages/react-shapes/package.json
  packages/shape-abstraction/package.json
  packages/shape-plugins/package.json
  packages/shape-registry/package.json
  packages/shared-types/package.json
  packages/shared-utils/package.json
  packages/store/package.json
  packages/test-utils/package.json
  packages/tools/package.json
  packages/ui-components/package.json
  packages/vite-config/package.json
  pnpm-lock.yaml
  renovate.json
Due: biome-check

🐛 fix: Lintエラーと警告を修正
  apps/whiteboard/src/examples/background-registry-example.tsx
  apps/whiteboard/src/examples/custom-background-example.tsx
  apps/whiteboard/src/styles/app.css
  biome.json
  packages/background-presets/src/components/dots-background.tsx
  packages/background-presets/src/components/grid-background.tsx
  packages/background-presets/src/components/isometric-background.tsx
  packages/background-presets/src/components/lines-background.tsx
  packages/react-shapes/src/ellipse.tsx
  packages/react-shapes/src/freedraw.tsx
  packages/react-shapes/src/rectangle.tsx
  packages/shape-registry/src/shape-registry.ts
  packages/store/src/store.ts
  packages/test-utils/src/storage-mocks.ts
  packages/tools/src/machines/select-tool.ts
  packages/ui-components/src/selection-layer.ts
Due: biome-check, check-filenames

🔧 chore: Renovate設定を更新
  renovate.json
Due: biome-check

📝 docs: Shapeリサイズ機能の実装計画書を追加
  docs/implementation/shape-resize-implementation-plan.md
Due: none

✅ test: リサイズ機能のE2Eテストを追加
  apps/e2e/playwright.config.ts
  apps/e2e/tests/resize.spec.ts
  apps/whiteboard/src/components/toolbar-react.tsx
Due: biome-check, check-filenames

✨ feat: リサイズ計算ロジックとユーティリティを追加
  packages/tools/src/utils/geometry.ts
  packages/tools/src/utils/resize-calculator.ts
Due: biome-check, check-filenames

✨ feat: React CanvasにXStateツール連携を実装
  packages/react-canvas/package.json
  packages/react-canvas/src/hooks/use-interaction.ts
  packages/react-canvas/src/hooks/use-tool-machine.ts
Due: biome-check, check-filenames

💄 style: SelectionLayerにリサイズハンドルUI実装
  packages/react-canvas/src/components/selection-layer.tsx
Due: biome-check, check-filenames

🐛 fix: SelectToolマシンのリサイズハンドル検出を修正
  packages/tools/package.json
  packages/tools/src/machines/select-tool.ts
Due: biome-check, check-filenames

📦 chore: 依存関係を更新
  pnpm-lock.yaml
Due: none

🎯 improve: リサイズハンドルのインタラクション領域を拡大
  packages/react-canvas/src/components/selection-layer.tsx
Due: biome-check, check-filenames

🔇 chore: デバッグ用console.logステートメントを削除
  apps/e2e/tests/resize.spec.ts
  packages/react-canvas/src/hooks/use-interaction.ts
  packages/react-canvas/src/hooks/use-tool-machine.ts
  packages/tools/src/machines/select-tool.ts
  packages/tools/src/utils/geometry.ts
Due: biome-check, check-filenames

🌐 fix: 不要な英語化を元に戻し、日本語ラベルを復元
  apps/whiteboard/src/components/toolbar-react.tsx
Due: biome-check, check-filenames

📝 docs: README.mdとCLAUDE.mdを最新のプロジェクト構造に更新
  CLAUDE.md
  README.md
Due: none

🔧 fix: E2Eテスト実行時のポート競合を解消
  apps/e2e/playwright.config.ts
  apps/whiteboard/package.json
  apps/whiteboard/vite.config.ts
Due: biome-check, check-filenames

📝 docs: EffectLayer実装計画書を作成
  docs/implementation/effect-layer-implementation-plan.md
Due: none

📝 docs: effect-presetsパッケージ設計とEffectLayer実装計画を更新
  docs/implementation/effect-layer-implementation-plan-updated.md
  docs/implementation/effect-presets-package-design.md
Due: none

🐛 fix: PRレビューコメントに基づきインポート文を修正
  docs/implementation/effect-layer-implementation-plan-updated.md
  docs/implementation/effect-presets-package-design.md
Due: none

✨ feat: EffectLayerシステムの実装
  apps/e2e/tests/resize.spec.ts
  apps/whiteboard/package.json
  apps/whiteboard/src/app.tsx
  packages/effect-presets/package.json
  packages/effect-presets/src/index.ts
  packages/effect-presets/src/metadata.ts
  packages/effect-presets/src/plugins/pin/index.tsx
  packages/effect-presets/src/plugins/ripple/index.tsx
  packages/effect-presets/tsconfig.json
  packages/effect-presets/vite.config.ts
  packages/effect-registry/package.json
  packages/effect-registry/src/context.tsx
  packages/effect-registry/src/effect-registry.ts
  packages/effect-registry/src/hooks.ts
  packages/effect-registry/src/index.ts
  packages/effect-registry/src/types.ts
  packages/effect-registry/tsconfig.json
  packages/effect-registry/vite.config.ts
  packages/react-canvas/src/components/whiteboard-canvas.tsx
  packages/react-canvas/src/index.ts
  packages/react-canvas/src/layers/effect-layer.tsx
  packages/react-canvas/src/types.ts
  packages/shared-types/src/effects.ts
  packages/shared-types/src/index.ts
  packages/store/src/store.ts
  packages/vite-config/package.json
  pnpm-lock.yaml
Due: biome-check, check-filenames

docs: add selection box customization design document
  docs/implementation/selection-box-customization-plan.md
Due: none

docs: add selection indicator (drag selection box) customization design
  docs/implementation/selection-indicator-customization-plan.md
Due: none

feat: add SelectionIndicator interface and default implementation
  packages/react-canvas/src/components/default-selection-indicator.tsx
  packages/react-canvas/src/hooks/use-selection-indicator.ts
  packages/react-canvas/src/types.ts
Due: biome-check, check-filenames
