Repository EdV4H/usketch: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, check-filenames

biome-check:
  run: pnpm biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

check-filenames:
  run: npm run check:filenames

✨ feat(character): 操作キャラ＋追従カメラのプラグインを追加
  .changeset/plugin-character.md
  plugins/usketch-plugin-character/README.md
  plugins/usketch-plugin-character/package.json
  plugins/usketch-plugin-character/src/__tests__/character-camera.test.ts
  plugins/usketch-plugin-character/src/__tests__/character-input.test.ts
  plugins/usketch-plugin-character/src/__tests__/character-physics.test.ts
  plugins/usketch-plugin-character/src/__tests__/character-sync.test.ts
  plugins/usketch-plugin-character/src/character-camera.ts
  plugins/usketch-plugin-character/src/character-input.ts
  plugins/usketch-plugin-character/src/character-layer.tsx
  plugins/usketch-plugin-character/src/character-physics.ts
  plugins/usketch-plugin-character/src/character-runtime.tsx
  plugins/usketch-plugin-character/src/character-service.ts
  plugins/usketch-plugin-character/src/character-store.ts
  plugins/usketch-plugin-character/src/character-sync.ts
  plugins/usketch-plugin-character/src/character-types.ts
  plugins/usketch-plugin-character/src/index.ts
  plugins/usketch-plugin-character/src/plugin.ts
  plugins/usketch-plugin-character/src/register-character-hud.ts
  plugins/usketch-plugin-character/tsconfig.json
Due: biome-check, check-filenames

✨ feat(web): 操作キャラをボード/コミュニティ両ページに配線
  apps/web/package.json
  apps/web/src/app.tsx
  apps/web/src/lib/character-renderer.tsx
  apps/web/src/pages/community/community-page.tsx
  pnpm-lock.yaml
Due: biome-check, check-filenames

✨ feat(mode7): character レイヤーを既定で 3D 化の対象に
  .changeset/mode7-character-layer.md
  plugins/usketch-plugin-mode7/README.md
  plugins/usketch-plugin-mode7/src/mode7-store.ts
Due: biome-check, check-filenames

🐛 fix(core): カメラ回転時に選択枠などのオーバーレイがずれる問題を修正
  .changeset/rotation-world-overlays.md
  packages/canvas-engine/src/components/canvas.tsx
  packages/shared/src/__tests__/viewport-rotation.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types/plugin.ts
  packages/shared/src/utils/geometry.ts
  packages/usketch-tool-helpers/src/__tests__/resize-handles.test.ts
  packages/usketch-tool-helpers/src/internal/resize-handles.ts
  plugins/usketch-plugin-bg-grid/src/__tests__/grid-frame.test.ts
  plugins/usketch-plugin-bg-grid/src/grid-frame.ts
  plugins/usketch-plugin-bg-grid/src/plugin.tsx
  plugins/usketch-plugin-comments/src/plugin.tsx
  plugins/usketch-plugin-presence-activity/src/plugin.tsx
  plugins/usketch-plugin-shape-connector/src/plugin.tsx
  plugins/usketch-plugin-shape-frame/src/plugin.tsx
  plugins/usketch-plugin-shape-freedraw/src/plugin.tsx
  plugins/usketch-plugin-snap/src/plugin.tsx
  plugins/usketch-plugin-sync-ywebsocket/src/plugin.tsx
  plugins/usketch-plugin-tool-vim/src/plugin.tsx
Due: biome-check, check-filenames

fix: add @astrojs/markdown-remark for astro markdown plugin config [renovate-auto-fix]
  apps/docs/package.json
  pnpm-lock.yaml
Due: biome-check

fix: pnpm-lock.yaml の壊れた vitest 参照を修正 [renovate-auto-fix]
  pnpm-lock.yaml
Due: none

Update dependency better-auth to v1.7.0
  apps/server/package.json
  apps/web/package.json
  pnpm-lock.yaml
Due: biome-check

fix: resolve pnpm-lock.yaml conflict against main [renovate-auto-fix]
  plugins/usketch-plugin-shape-image/package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency @changesets/cli to v3 [renovate-auto-fix]
  package.json
  pnpm-lock.yaml
Due: biome-check

fix: pnpm 12 の ERR_PNPM_IGNORED_BUILDS に対応 [renovate-auto-fix]
  pnpm-workspace.yaml
Due: none

fix: pnpm 11 で削除された build 設定を allowBuilds へ移行 [renovate-auto-fix]
  pnpm-workspace.yaml
Due: none

fix: pnpm-lock.yaml の mode7 importer を pnpm 12 形式に揃える [renovate-auto-fix]
  pnpm-lock.yaml
Due: none

fix: pnpm-lock.yaml の window-system importer を pnpm 12 形式に揃える [renovate-auto-fix]
  pnpm-lock.yaml
Due: none

fix(deps): point usketch-plugin-character vitest at the jsdom@30 snapshot [renovate-auto-fix]
  pnpm-lock.yaml
Due: none

fix(deps): use the '>=19' react specifier for usketch-plugin-character under pnpm v12 [renovate-auto-fix]
  pnpm-lock.yaml
Due: none

fix(deps): point usketch-plugin-character vitest at the yaml@2.9.0 snapshot [renovate-auto-fix]
  pnpm-lock.yaml
Due: none

fix(deps): point usketch-plugin-character vitest at the @noble/hashes@2.4.0 snapshot [renovate-auto-fix]
  pnpm-lock.yaml
Due: none

✨ feat(mode7): 3D ビューの ON/OFF をアニメーション遷移に（#1103）
  .changeset/mode7-transition.md
  plugins/usketch-plugin-mode7/README.md
  plugins/usketch-plugin-mode7/src/__tests__/mode7-transition.test.ts
  plugins/usketch-plugin-mode7/src/index.ts
  plugins/usketch-plugin-mode7/src/mode7-layers.tsx
  plugins/usketch-plugin-mode7/src/mode7-runtime.tsx
  plugins/usketch-plugin-mode7/src/mode7-service.ts
  plugins/usketch-plugin-mode7/src/mode7-store.ts
  plugins/usketch-plugin-mode7/src/mode7-transform.ts
  plugins/usketch-plugin-mode7/src/mode7-transition.ts
  plugins/usketch-plugin-mode7/src/plugin.ts
Due: biome-check, check-filenames

✨ feat(web): デモの 3D ビュー切替をアニメーション遷移に（900ms）
  apps/web/src/app.tsx
Due: biome-check, check-filenames

Path conditions:
  biome-check: any of: *.{js,jsx,ts,tsx,css,json}
  check-filenames: any of: *.{ts,tsx}
