Repository EdV4H/usketch: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, check-filenames

biome-check:
  run: pnpm biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

check-filenames:
  run: npm run check:filenames

fix: pnpm-lock.yaml の壊れた vitest 参照を修正 [renovate-auto-fix]
  pnpm-lock.yaml
Due: none

Update dependency better-auth to v1.7.0
  apps/server/package.json
  apps/web/package.json
  pnpm-lock.yaml
Due: biome-check

fix: add @astrojs/markdown-remark for astro markdown plugin config [renovate-auto-fix]
  apps/docs/package.json
  pnpm-lock.yaml
Due: biome-check

fix: pnpm-lock.yaml の window-system importer を pnpm 12 形式に揃える [renovate-auto-fix]
  pnpm-lock.yaml
Due: none

fix: pnpm 12 の ERR_PNPM_IGNORED_BUILDS に対応 [renovate-auto-fix]
  pnpm-workspace.yaml
Due: none

fix: pnpm 11 で削除された build 設定を allowBuilds へ移行 [renovate-auto-fix]
  pnpm-workspace.yaml
Due: none

fix(deps): use the '>=19' react specifier for usketch-plugin-character under pnpm v12 [renovate-auto-fix]
  pnpm-lock.yaml
Due: none

fix: pnpm-lock.yaml の mode7 importer を pnpm 12 形式に揃える [renovate-auto-fix]
  pnpm-lock.yaml
Due: none

✨ feat(export): 範囲指定エクスポート exportRegion を追加 (#1106)
  .changeset/export-region.md
  plugins/usketch-plugin-export/src/exporter.ts
  plugins/usketch-plugin-export/src/index.ts
  plugins/usketch-plugin-export/src/region.test.ts
  plugins/usketch-plugin-export/src/region.ts
Due: biome-check, check-filenames

♻️ refactor(export): 共有の getShapeAABB / rectsIntersect / compareZIndex を再利用
  plugins/usketch-plugin-export/src/region.ts
Due: biome-check, check-filenames

🐛 fix(pdf-import): #877 のレビュー指摘を反映
  .changeset/pink-pumas-repeat.md
  plugins/usketch-plugin-pdf-import/README.md
  plugins/usketch-plugin-pdf-import/src/__tests__/external-content-handler.test.ts
  plugins/usketch-plugin-pdf-import/src/__tests__/grid-control.test.ts
  plugins/usketch-plugin-pdf-import/src/__tests__/page-cache.test.ts
  plugins/usketch-plugin-pdf-import/src/__tests__/page-renderer.test.ts
  plugins/usketch-plugin-pdf-import/src/__tests__/pdf-document.test.ts
  plugins/usketch-plugin-pdf-import/src/__tests__/plugin.test.ts
  plugins/usketch-plugin-pdf-import/src/__tests__/regrid.test.ts
  plugins/usketch-plugin-pdf-import/src/external-content-handler.ts
  plugins/usketch-plugin-pdf-import/src/grid-control.ts
  plugins/usketch-plugin-pdf-import/src/index.ts
  plugins/usketch-plugin-pdf-import/src/page-renderer.ts
  plugins/usketch-plugin-pdf-import/src/pdf-document.ts
  plugins/usketch-plugin-pdf-import/src/pdf-page-shape.tsx
  plugins/usketch-plugin-pdf-import/src/plugin.ts
  plugins/usketch-plugin-pdf-import/src/regrid.ts
  plugins/usketch-plugin-pdf-import/src/types.ts
Due: biome-check, check-filenames

🔧 chore(web): pdf.js ワーカーを自前でバンドルして配信する
  apps/web/package.json
  apps/web/src/app.tsx
Due: biome-check, check-filenames

✨ feat(asset-store): uploader が差し替えられたかを返す hasCustomUploader() を追加
  .changeset/quiet-assets-know.md
  plugins/usketch-plugin-asset-store/src/__tests__/asset-store.test.ts
  plugins/usketch-plugin-asset-store/src/asset-store.ts
  plugins/usketch-plugin-pdf-import/src/grid-toolbar.tsx
  plugins/usketch-plugin-pdf-import/src/plugin.ts
Due: biome-check, check-filenames

🔧 chore: lockfile を更新
  pnpm-lock.yaml
Due: none

feat(export): exportRegion に onShapeError / renderShape / renderForExport / loadAdditionalAsset を追加
  .changeset/export-region-options.md
  packages/shared/src/types/plugin.ts
  plugins/usketch-plugin-export/src/exporter.ts
  plugins/usketch-plugin-export/src/region.test.ts
  plugins/usketch-plugin-export/src/region.ts
Due: biome-check, check-filenames

✨ feat(export): exportRegion に背景レイヤー（グリッド/ドット）を含めるオプションを追加 (#1117)
  .changeset/export-background-layers.md
  packages/shared/src/index.ts
  packages/shared/src/types/plugin.ts
  plugins/usketch-plugin-bg-dots/src/__tests__/export-background.test.ts
  plugins/usketch-plugin-bg-dots/src/export-background.tsx
  plugins/usketch-plugin-bg-dots/src/index.ts
  plugins/usketch-plugin-bg-dots/src/plugin.tsx
  plugins/usketch-plugin-bg-grid/src/__tests__/export-background.test.ts
  plugins/usketch-plugin-bg-grid/src/export-background.tsx
  plugins/usketch-plugin-bg-grid/src/index.ts
  plugins/usketch-plugin-bg-grid/src/plugin.tsx
  plugins/usketch-plugin-export/src/region.test.ts
  plugins/usketch-plugin-export/src/region.ts
Due: biome-check, check-filenames

✨ feat(asset-store): hasCustomUploader() を maxUploadBytes() に置き換える
  .changeset/quiet-assets-know.md
  plugins/usketch-plugin-asset-store/src/__tests__/asset-store.test.ts
  plugins/usketch-plugin-asset-store/src/asset-store.ts
  plugins/usketch-plugin-asset-store/src/index.ts
  plugins/usketch-plugin-asset-store/src/plugin.ts
Due: biome-check, check-filenames

🐛 fix(pdf-import): #877 の 2 回目のレビュー指摘を反映
  .changeset/pink-pumas-repeat.md
  plugins/usketch-plugin-pdf-import/README.md
  plugins/usketch-plugin-pdf-import/src/__tests__/external-content-handler.test.ts
  plugins/usketch-plugin-pdf-import/src/__tests__/page-cache.test.ts
  plugins/usketch-plugin-pdf-import/src/__tests__/pdf-document.test.ts
  plugins/usketch-plugin-pdf-import/src/__tests__/plugin.test.ts
  plugins/usketch-plugin-pdf-import/src/__tests__/regrid.test.ts
  plugins/usketch-plugin-pdf-import/src/external-content-handler.ts
  plugins/usketch-plugin-pdf-import/src/grid-control.ts
  plugins/usketch-plugin-pdf-import/src/index.ts
  plugins/usketch-plugin-pdf-import/src/layout.ts
  plugins/usketch-plugin-pdf-import/src/page-renderer.ts
  plugins/usketch-plugin-pdf-import/src/pdf-document.ts
  plugins/usketch-plugin-pdf-import/src/pdf-import-service.ts
  plugins/usketch-plugin-pdf-import/src/pdf-page-shape.tsx
  plugins/usketch-plugin-pdf-import/src/plugin.ts
  plugins/usketch-plugin-pdf-import/src/regrid.ts
  plugins/usketch-plugin-pdf-import/src/types.ts
Due: biome-check, check-filenames

Update dependency @changesets/cli to v3 [renovate-auto-fix]
  package.json
Due: biome-check

fix(deps): point usketch-plugin-character vitest at the yaml@2.9.0 snapshot [renovate-auto-fix]
  pnpm-lock.yaml
Due: none

feat(store): add lockScope "self" so a lock need not cascade to descendants
  AGENTS.md
  packages/shared/src/index.ts
  packages/shared/src/types/shape.ts
  packages/shared/src/utils/visibility.ts
  packages/store/src/__tests__/visibility-lock.test.ts
  packages/store/src/commands.ts
  packages/store/src/hierarchy-utils.ts
  packages/usketch-connector-anchor/src/hit-test.ts
  plugins/usketch-plugin-ai-agent/src/canvas-serializer.ts
Due: biome-check, check-filenames

chore: add changeset for lockScope
  .changeset/thick-owls-camp.md
Due: none

fix(ci): revert changesets/action to v1 (v2 requires Changesets CLI v3)
  .github/workflows/release.yml
Due: none

chore(release): upgrade to @changesets/cli v3 and changesets/action v2
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: biome-check

👷 fix(release): 未公開パッケージを npm 基準で列挙し、trust 設定スクリプトを冪等化
  .github/workflows/release.yml
  scripts/setup-npm-trusted-publishers.sh
Due: none

👷 fix(release): リモートに無いタグだけを push する
  .github/workflows/release.yml
Due: none

✨ feat(bg-liquid): 粘性液体の背景プラグインを追加
  .changeset/bg-liquid-plugin.md
  apps/docs/src/content/plugins/plugins.json
  apps/web/package.json
  apps/web/src/app.tsx
  plugins/usketch-plugin-bg-liquid/README.md
  plugins/usketch-plugin-bg-liquid/package.json
  plugins/usketch-plugin-bg-liquid/src/__tests__/displacer.test.ts
  plugins/usketch-plugin-bg-liquid/src/__tests__/liquid-field.test.ts
  plugins/usketch-plugin-bg-liquid/src/__tests__/plugin.test.ts
  plugins/usketch-plugin-bg-liquid/src/displacer.ts
  plugins/usketch-plugin-bg-liquid/src/export-background.tsx
  plugins/usketch-plugin-bg-liquid/src/index.ts
  plugins/usketch-plugin-bg-liquid/src/liquid-canvas.tsx
  plugins/usketch-plugin-bg-liquid/src/liquid-field.ts
  plugins/usketch-plugin-bg-liquid/src/liquid-service.ts
  plugins/usketch-plugin-bg-liquid/src/liquid-shading.ts
  plugins/usketch-plugin-bg-liquid/src/liquid-state.ts
  plugins/usketch-plugin-bg-liquid/src/plugin.tsx
  plugins/usketch-plugin-bg-liquid/tsconfig.json
  pnpm-lock.yaml
  prek.toml
Due: biome-check, check-filenames

⬆️ chore(pdf-import): devDependencies を main に揃える
  plugins/usketch-plugin-pdf-import/package.json
  pnpm-lock.yaml
Due: biome-check

✨ feat(shape-basic): 図形テキストに textAlign / verticalAlign / fontWeight を追加 (#1074)
  .changeset/shape-basic-text-align.md
  apps/mcp-server/src/tools/shape-tools.ts
  plugins/usketch-plugin-shape-basic/src/label.tsx
  plugins/usketch-plugin-shape-basic/src/types.ts
Due: biome-check, check-filenames

feat(shared): add optional display meta (label/iconKey/meta) to ToolDefinition
  .changeset/tool-display-meta.md
  packages/shared/src/types/plugin.ts
Due: biome-check, check-filenames

fix(shape-connector): resolve auto anchor snap to edge intersection (#810)
  .changeset/fix-connector-auto-anchor-point.md
  plugins/usketch-plugin-shape-connector/src/anchor-handle-overlay.tsx
Due: biome-check, check-filenames

feat(shape-utils): findFreePosition に gap / direction オプションを追加 (#880)
  .changeset/free-position-gap-direction.md
  packages/usketch-shape-utils/src/__tests__/free-position.test.ts
  packages/usketch-shape-utils/src/free-position.ts
  packages/usketch-shape-utils/src/index.ts
Due: biome-check, check-filenames

style(shape-utils): biome format を適用
  packages/usketch-shape-utils/src/free-position.ts
Due: biome-check, check-filenames

Update dependency better-auth to v1.7.0 [renovate-auto-fix]
  apps/server/package.json
  apps/web/package.json
  pnpm-lock.yaml
Due: biome-check

Path conditions:
  biome-check: any of: *.{js,jsx,ts,tsx,css,json}
  check-filenames: any of: *.{ts,tsx}
