Repository EdV4H/usketch: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, check-filenames

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,jsx,ts,tsx,css,json}"
      run: pnpm biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    check-filenames:
      glob: "*.{ts,tsx}"
      run: npm run check:filenames


# Skip hooks in CI environment
skip_output:
  - meta
  - summary

fix: pnpm-lock.yaml の壊れた vitest 参照を修正 [renovate-auto-fix]
  pnpm-lock.yaml
Due: none

fix: pnpm 12 の ERR_PNPM_IGNORED_BUILDS に対応 [renovate-auto-fix]
  pnpm-workspace.yaml
Due: none

fix: pnpm 11 で削除された build 設定を allowBuilds へ移行 [renovate-auto-fix]
  pnpm-workspace.yaml
Due: none

✨ feat(window-system): Canvas をブラウザ常駐のウィンドウシステムにするプラグインを追加
  .changeset/plugin-window-system.md
  plugins/usketch-plugin-window-system/README.md
  plugins/usketch-plugin-window-system/package.json
  plugins/usketch-plugin-window-system/src/__tests__/tile-tree.test.ts
  plugins/usketch-plugin-window-system/src/config-ops.ts
  plugins/usketch-plugin-window-system/src/index.ts
  plugins/usketch-plugin-window-system/src/items.ts
  plugins/usketch-plugin-window-system/src/plugin.ts
  plugins/usketch-plugin-window-system/src/register-window-actions.ts
  plugins/usketch-plugin-window-system/src/register-window-hud.ts
  plugins/usketch-plugin-window-system/src/tile-tree.ts
  plugins/usketch-plugin-window-system/src/viewport-lock.ts
  plugins/usketch-plugin-window-system/src/window-config-shape-def.tsx
  plugins/usketch-plugin-window-system/src/window-config-shape.ts
  plugins/usketch-plugin-window-system/src/window-runtime.ts
  plugins/usketch-plugin-window-system/src/window-service.ts
  plugins/usketch-plugin-window-system/tsconfig.json
Due: biome-check, check-filenames

🔧 chore(web): window-system プラグインを apps/web に登録
  apps/web/package.json
  apps/web/src/app.tsx
  pnpm-lock.yaml
Due: biome-check, check-filenames

✨ feat(web): コミュニティページに「デスクトップを追加」を追加
  apps/web/src/app.tsx
  apps/web/src/pages/world-map.tsx
Due: biome-check, check-filenames

✨ feat(window-system): 外側 padding を設定可能に（gap=窓間 / padding=画面端の余白）
  .changeset/plugin-window-system.md
  plugins/usketch-plugin-window-system/README.md
  plugins/usketch-plugin-window-system/src/__tests__/tile-tree.test.ts
  plugins/usketch-plugin-window-system/src/config-ops.ts
  plugins/usketch-plugin-window-system/src/index.ts
  plugins/usketch-plugin-window-system/src/register-window-hud.ts
  plugins/usketch-plugin-window-system/src/tile-tree.ts
  plugins/usketch-plugin-window-system/src/window-config-shape.ts
  plugins/usketch-plugin-window-system/src/window-runtime.ts
  plugins/usketch-plugin-window-system/src/window-service.ts
Due: biome-check, check-filenames

🐛 fix(changeset): window-system の changeset から ignore 対象 usketch-web を除去
  .changeset/plugin-window-system.md
Due: none

fix: add @astrojs/markdown-remark for astro markdown plugin config [renovate-auto-fix]
  apps/docs/package.json
  pnpm-lock.yaml
Due: biome-check

fix: resolve pnpm-lock.yaml conflict against main [renovate-auto-fix]
  plugins/usketch-plugin-shape-image/package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency @changesets/cli to v3 [renovate-auto-fix]
  package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency better-auth to v1.7.0
  apps/server/package.json
  apps/web/package.json
  pnpm-lock.yaml
Due: biome-check

fix: pnpm-lock.yaml の window-system importer を pnpm 12 形式に揃える [renovate-auto-fix]
  pnpm-lock.yaml
Due: none

✨ feat(mode7): ファミコン Mode 7 風の擬似3D地平面ビュープラグインを追加
  .changeset/plugin-mode7.md
  plugins/usketch-plugin-mode7/README.md
  plugins/usketch-plugin-mode7/package.json
  plugins/usketch-plugin-mode7/src/__tests__/mode7-camera.test.ts
  plugins/usketch-plugin-mode7/src/__tests__/mode7-transform.test.ts
  plugins/usketch-plugin-mode7/src/index.ts
  plugins/usketch-plugin-mode7/src/mode7-camera.ts
  plugins/usketch-plugin-mode7/src/mode7-layers.tsx
  plugins/usketch-plugin-mode7/src/mode7-runtime.tsx
  plugins/usketch-plugin-mode7/src/mode7-service.ts
  plugins/usketch-plugin-mode7/src/mode7-store.ts
  plugins/usketch-plugin-mode7/src/mode7-transform.ts
  plugins/usketch-plugin-mode7/src/plugin.ts
  plugins/usketch-plugin-mode7/src/register-mode7-actions.ts
  plugins/usketch-plugin-mode7/src/register-mode7-hud.ts
  plugins/usketch-plugin-mode7/tsconfig.json
Due: biome-check, check-filenames

🔧 chore(web): mode7 プラグインを apps/web に登録
  apps/web/package.json
  apps/web/src/app.tsx
  pnpm-lock.yaml
Due: biome-check, check-filenames

🐛 fix(mode7): MutationObserver を遅延アタッチ（setup 時はまだ Canvas 未マウント）
  plugins/usketch-plugin-mode7/src/mode7-runtime.tsx
Due: biome-check, check-filenames

✨ feat(mode7): 3D表現するレイヤーを実行時に選択可能に（HUD レイヤーピッカー）
  plugins/usketch-plugin-mode7/README.md
  plugins/usketch-plugin-mode7/src/mode7-layers.tsx
  plugins/usketch-plugin-mode7/src/mode7-runtime.tsx
  plugins/usketch-plugin-mode7/src/mode7-service.ts
  plugins/usketch-plugin-mode7/src/mode7-store.ts
  plugins/usketch-plugin-mode7/src/plugin.ts
  plugins/usketch-plugin-mode7/src/register-mode7-hud.tsx
Due: biome-check, check-filenames

🐛 fix(mode7): tilt を <style> シート方式に変更（DOM Shape が傾かない問題）
  plugins/usketch-plugin-mode7/src/__tests__/mode7-transform.test.ts
  plugins/usketch-plugin-mode7/src/index.ts
  plugins/usketch-plugin-mode7/src/mode7-runtime.tsx
  plugins/usketch-plugin-mode7/src/mode7-transform.ts
Due: biome-check, check-filenames

🐛 fix(mode7): Shape 層に overflow:visible + preserve-3d を当てて実際に傾ける
  plugins/usketch-plugin-mode7/src/mode7-runtime.tsx
Due: biome-check, check-filenames

🐛 fix(mode7): perspective() 関数方式へ戻し実際に3D傾斜させる（親perspective方式は無効だった）
  plugins/usketch-plugin-mode7/src/__tests__/mode7-transform.test.ts
  plugins/usketch-plugin-mode7/src/index.ts
  plugins/usketch-plugin-mode7/src/mode7-runtime.tsx
  plugins/usketch-plugin-mode7/src/mode7-transform.ts
Due: biome-check, check-filenames

🐛 fix(mode7): コンテナ検出を data-layer-id 親に変更（傾かない根本原因）
  plugins/usketch-plugin-mode7/README.md
  plugins/usketch-plugin-mode7/src/mode7-runtime.tsx
Due: biome-check, check-filenames

💄 fix(mode7): 地平線のハードストップをソフトフェードにして継ぎ目を消す
  plugins/usketch-plugin-mode7/src/__tests__/mode7-transform.test.ts
  plugins/usketch-plugin-mode7/src/mode7-transform.ts
Due: biome-check, check-filenames

✨ feat(mode7): 取り込み範囲（capture frame）オーバーレイを追加
  plugins/usketch-plugin-mode7/README.md
  plugins/usketch-plugin-mode7/src/__tests__/mode7-store.test.ts
  plugins/usketch-plugin-mode7/src/mode7-layers.tsx
  plugins/usketch-plugin-mode7/src/mode7-runtime.tsx
  plugins/usketch-plugin-mode7/src/mode7-service.ts
  plugins/usketch-plugin-mode7/src/mode7-store.ts
  plugins/usketch-plugin-mode7/src/plugin.ts
  plugins/usketch-plugin-mode7/src/register-mode7-actions.ts
  plugins/usketch-plugin-mode7/src/register-mode7-hud.tsx
Due: biome-check, check-filenames

🔧 feat(mode7): 既定の傾けるレイヤーを「固定UI以外のほぼ全層」に変更
  plugins/usketch-plugin-mode7/README.md
  plugins/usketch-plugin-mode7/src/mode7-store.ts
Due: biome-check, check-filenames

✨ feat(mode7): 描画距離（drawDistance）オプションを追加
  plugins/usketch-plugin-mode7/README.md
  plugins/usketch-plugin-mode7/src/__tests__/mode7-store.test.ts
  plugins/usketch-plugin-mode7/src/__tests__/mode7-transform.test.ts
  plugins/usketch-plugin-mode7/src/index.ts
  plugins/usketch-plugin-mode7/src/mode7-runtime.tsx
  plugins/usketch-plugin-mode7/src/mode7-service.ts
  plugins/usketch-plugin-mode7/src/mode7-store.ts
  plugins/usketch-plugin-mode7/src/mode7-transform.ts
  plugins/usketch-plugin-mode7/src/plugin.ts
  plugins/usketch-plugin-mode7/src/register-mode7-hud.tsx
Due: biome-check, check-filenames

🔧 refactor(mode7): 描画距離を % から Canvas(ワールド)単位に変更
  plugins/usketch-plugin-mode7/README.md
  plugins/usketch-plugin-mode7/src/__tests__/mode7-store.test.ts
  plugins/usketch-plugin-mode7/src/__tests__/mode7-transform.test.ts
  plugins/usketch-plugin-mode7/src/mode7-runtime.tsx
  plugins/usketch-plugin-mode7/src/mode7-service.ts
  plugins/usketch-plugin-mode7/src/mode7-store.ts
  plugins/usketch-plugin-mode7/src/mode7-transform.ts
  plugins/usketch-plugin-mode7/src/plugin.ts
  plugins/usketch-plugin-mode7/src/register-mode7-hud.tsx
Due: biome-check, check-filenames

🐛 fix(mode7): tilt 層を常に箱クリップして遠方 Shape の浮きを解消
  plugins/usketch-plugin-mode7/README.md
  plugins/usketch-plugin-mode7/src/__tests__/mode7-transform.test.ts
  plugins/usketch-plugin-mode7/src/mode7-runtime.tsx
  plugins/usketch-plugin-mode7/src/mode7-transform.ts
Due: biome-check, check-filenames

✨ feat: 描画距離で地面(grid+shape)を箱外へ延長（bg-grid overscan 連動）
  .changeset/bg-grid-overscan.md
  plugins/usketch-plugin-bg-grid/src/plugin.tsx
  plugins/usketch-plugin-mode7/README.md
  plugins/usketch-plugin-mode7/src/__tests__/mode7-transform.test.ts
  plugins/usketch-plugin-mode7/src/index.ts
  plugins/usketch-plugin-mode7/src/mode7-runtime.tsx
  plugins/usketch-plugin-mode7/src/mode7-transform.ts
Due: biome-check, check-filenames

✨ feat(mode7): 描画距離を全方向へ拡張＋既定 1500
  plugins/usketch-plugin-mode7/README.md
  plugins/usketch-plugin-mode7/src/__tests__/mode7-store.test.ts
  plugins/usketch-plugin-mode7/src/__tests__/mode7-transform.test.ts
  plugins/usketch-plugin-mode7/src/mode7-store.ts
  plugins/usketch-plugin-mode7/src/mode7-transform.ts
  plugins/usketch-plugin-mode7/src/plugin.ts
Due: biome-check, check-filenames

✨ feat(core): ビューポートにカメラ回転（rotation）を追加
  .changeset/core-viewport-rotation.md
  packages/canvas-engine/src/components/canvas.tsx
  packages/canvas-engine/src/coordinate-transformer.ts
  packages/shared/src/__tests__/viewport-rotation.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types/geometry.ts
  packages/shared/src/types/plugin.ts
  packages/shared/src/utils/geometry.ts
  packages/shared/src/utils/rotation.ts
  packages/shared/src/utils/viewport.ts
  packages/store/src/__tests__/viewport-rotation.test.ts
  packages/store/src/board-store.ts
  packages/store/src/viewport-constraints.ts
Due: biome-check, check-filenames
